<%- include("partials/header") %>

<section id="header-section">
  <div class="container-fluid" id="global-container-fluid">
    <!-- Nav Bar -->
    <% if(!isAuthenticated) { %>
      <%- include("partials/nav-unsigned") %>
    <% } else { %>
      <%- include("partials/nav-signed") %>
    <% } %>
    <!-- Title -->
    <div class="row title-row" style="padding-bottom: 2%;">
        <div class="col-md-4">
            <div id="div-profile-img">
                <% if(src === null) {%>
                <img class="img-profile" src="images/profile-placeholder.png" alt="">
                <% } else { %>
                <img class="img-profile" src= <%= src %>>
                <% } %>
            </div>
            <div id="div-img-btns" style="display: none;">
                <button id="btn-img-update" class="btn btn-outline-light">Update</button>
                <button id="btn-img-delete" class="btn btn-outline-danger">Delete</button>
                <form id="form-img-update" method="post" action="/profile/upload-photo" enctype="multipart/form-data" style="position: absolute; left: -9999px;">
                    <input type="file" id="image" name="image">
                </form>
                <form id="form-img-delete" method="post" action="/profile/delete-photo" style="position: absolute; left: -9999px;"> 
                </form>
            </div>
            <h3 id="h3-name"><%=name%></h3>
            <input class="form-control" id="input-name" type="text" style="display:none">
        </div>
        <div class="col-md-7 col-10">
            <textarea disabled class="form-control" id="textarea-bio"><%=bio%></textarea>
        </div>
        <div class="col-md-1 col-1" style="text-align: end;">
            <button class="btn btn-outline-light btn-lg" id="btn-edit-save">Edit</button>
        </div>
    </div>
  </div>
</section>
<div class="jumbotron jumbotron-fluid" style="padding: 7% 10%;">
    <div class="container">
        <h1 class="display-4" style="margin-bottom: 3%;" id="h1-my-tutorials">My tutorials</h1>
        <p class="lead" id="p-loading" style="display: none;">Loading...</p>
        <div class="row row-cols-lg-3 row-cols-md-2 row-cols-1" style="margin-bottom: 2%;">
            <div class="col" id="div-col-card-create">
                <div id="div-card-create" class="card div-card-tutorial" style="width: 100%;">
                    <div class="card-body">
                        <form action="">
                            <input    id="input-card-title"          name="inputCardTitle" class="form-control" type="text" placeholder="Title" required>
                            <textarea id="textarea-card-description" name="textareaCardDescription" class="form-control"  rows="3" placeholder="Description" required></textarea>
                            <input    id="input-card-datetime"           name="inputCardDatetime" class="form-control" type="text" placeholder="Date and Time" required>
                            <input    id="input-card-url"            name="inputCardUrl" class="form-control" type="url" placeholder="Link (Zoom, MS Teams...)" required>
                            <p id="p-invalid-inputs">Error</p>
                            <button   id="btn-card-create" class="btn btn-primary" type="button">Create</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<%- include("partials/social-links") %>

<!-- jQuery CDN -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<!-- My jQuery -->
<script type="text/javascript" src="javascript/profile.js"></script>

<%- include("partials/footer") %>